body {
    background: linear-gradient(to right, #a7a7a6, #fff);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho y alto */
    font-family: "Bebas Neue", sans-serif;
}

.menu {
    background-color: #000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo_blanco_container {
    width: 100px;
    position: relative;
}

.logo_blanco {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
}

.lista {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.lista li {
    margin: 0 15px;
}

.lista li a {
    text-decoration: none;
    text-align: center;
    line-height: 1.4;
    width: 120px;
    color: white;
    display: block;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}

.lista li a:hover {
    background-color: #333;
    transition: background-color 0.3s;
}

#Titulo {
    margin: 80px auto 30px;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 24px;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
    font-size: 20px;
    color: #000;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    color: #000;
    font-weight: bold;
}

.table td {
    color: #333;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.card .btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card .btn:hover {
    background-color: #333;
    transition: background-color 0.3s;
}
